/* * {
    outline: 1px solid red !important;
   } */

.col.s12 {
    padding: 0;
    margin: 0;
}

nav .brand-logo {
    padding-left: 20px;
}

i .material-icons .magGlass {
    padding-right: 20px;
}
img
{
height: 120px;
width: 120px;
margin: 5px;
border-style: solid;
border-color: lightgray;
border-width: 1px;
}

#infoDiv {
    display:inline-block;
    padding: 10px;
}
#eventResults {
    border-style: solid;
    border-bottom-color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    margin: 5px;
}
