/* * {
    outline: 1px solid red !important;
   } */

h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.navWrapper.center-align{
height: 70%;
}

#logoContainer{
font-family: 'Courier New', Courier, monospace;
font-weight: 200px;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.col.s12 {
    padding: 0;
    margin: 0;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: blueviolet;
}

i.right.material-icons.magGlass{
    margin-right: 20px;
}

nav .brand-logo {
    padding-left: 20px;
}

img {
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    margin: 5px;
}

.infoGoogDiv {
    display: inline-block;
    padding: 10px;
}


.infoDiv {
    display: inline-block;
    padding: 10px;
}

.imgInfo {
    top: 0;
    width: 100%;
    display: inline-block;
}

.imgInfo {
    top: 0;
    width: 100%;
    display: inline-block;
 }

#eventResults {
    border-style: solid;
    border-bottom-color: rgb(175, 66, 66);
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    margin: 5px;
}

.eventGoogleResults {
    border-style: solid;
    border-bottom-color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    margin: 5px;
}

.restTitle {
    font-size: 20px;
    font-weight: bold;
}
#error {
    color: red;
    margin-left: 75%;
}

.maps {
    height: 120px;
    width: 79%;
    background-color: grey;
    display: inline-block; 
    margin: 5px;
  }

.G_maps {
    
    width: 77%;
    height: 120px;
    background-color: grey;
    display: inline-block; 
    margin: 5px;
}  